body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #ffe6e6;
    padding: 20px;
}

input, button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
}

.memory-text img {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
}

.buttons button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

#yes-btn {
    background-color: pink;
}

#no-btn {
    background-color: lightcoral;
}
